Standard: c++17
TabWidth: 4
UseCRLF: false
UseTab: Always
IndentWidth: 4
ColumnLimit: 100
IndentCaseLabels: true
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AlignAfterOpenBracket: AlwaysBreak
Cpp11BracedListStyle: false
BreakBeforeTernaryOperators: true
BinPackArguments: true
BinPackParameters: true
IndentExternBlock: Indent
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: ControlStatements
SpaceAroundPointerQualifiers: Both
PointerAlignment: Middle
IndentPPDirectives: BeforeHash
SpaceAfterCStyleCast: true
