--swiftversion 5.3
--binarygrouping none
--decimalgrouping none
--hexgrouping none
--indent tab
--indentcase true
--nospaceoperators "...,..<"
--octalgrouping none
--self insert
--semicolons never
--stripunusedargs closure-only
--wraparguments before-first
--wrapparameters before-first
--disable trailingClosures, typeSugar
--header "Copyright (c) 2021 Jeff Lebrun \n\n \
Licensed under the MIT License. \n\n \
The full text of the license can be found in the file named LICENSE.
"
