name: "Run Pre-Commit"

on: "pull_request"

jobs:
    PreCommit:
        runs-on: "macos-latest"
        steps:
            - uses: "actions/checkout@v2"
            - name: "Checkout PR"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: "gh pr checkout ${{ github.event.pull_request.number }}"
            - name: "Install Dependencies"
              run: "brew bundle"
            - uses: "LebJe/pre-commit-composite-action@0.0.1"
